img {width:3cm;height:3cm;}
table {width:80%;margin:auto; background-color: darkgrey;
}
th#price {cursor:pointer;}
li {color:blue;}
/*si chequea muestra los productos sin cheque desaparecen los productos*/
input#c1:checked ~ table tbody tr.c1 { display: table-row; }
input#c1:not(checked) ~ table tbody tr.c1 { display: none; }
input#c2:checked ~ table tbody tr.c2 { display: table-row; }
input#c2:not(checked) ~ table tbody tr.c2 { display: none; }
input#c3:checked ~ table tbody tr.c3 { display: table-row; }
input#c3:not(checked) ~ table tbody tr.c3 { display: none; }
input#c4:checked ~ table tbody tr.c4 { display: table-row; }
input#c4:not(checked) ~ table tbody tr.c4 { display: none; }
th{
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
tr{
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
tbody{
    text-align: justify;
    font-weight:normal;
    font-family: "Times New Roman", Times, serif;
}
#color{
    color:rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
}
#negrita{
    color: black;
    font-weight: bold;
    font-style: italic;
}
#formularioP h1 {
    text-align: center;
    margin-bottom: 20px;
}
#formularioP {
    display: none;
    max-width: 800px; /* Aumentar el ancho máximo según tus preferencias */
    margin: auto;
    background-color: rgb(102, 137, 192);
    padding: 10px; /* Reducir el relleno */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* CSS para reducir la altura del formulario */
#formularioP .form-group {
    margin-bottom: 5px; /* Reducir aún más el espacio entre los campos */
}

#formularioP label {
    font-weight: bold;
    font-size: 14px; /* Reducir el tamaño de fuente de las etiquetas */
}

#formularioP .form-control {
    padding: 3px; /* Reducir el relleno de los campos de entrada */
    font-size: 12px; /* Reducir el tamaño de fuente de los campos de entrada */
}
